header, nav, footer, .main{
    width: 1053px;
    margin: 0 auto;
}

header {
    height: 147px;
    background-color: #155DED;
    box-sizing: border-box;
}

header h1 {
    margin: 0px 0px 0px 18px;
    padding: 61px 0px 0px 0px;
    font-family: 'Roboto';
    font-size: 43px;
    font-weight: 100;
    float: left;
    color: white;
    letter-spacing: -1px;
}

header img {
    margin: 0px 30px 0px 0px;
    padding: 3px 0px 0px 0;
    float: right;
}

nav {
    background-color: #ede115;
    height: 90px;
}


nav ul {
    float: right;
    margin: 33px 0 0 0;
}

nav li {
    margin: 50px 17px 0 0;
    padding: 0;
    display: inline;
    font-weight: bold;
    font-size: 31px;
}

.main{

}

aside{
    margin:25px 0 0 60px;
    float: left;
    width:240px;
}

summary {
    padding: 15px 0 0 9px;
    height: 29px;
    margin: 0;
    background-color: #0099FF;
    outline: 1px solid black;
    outline-offset: -4px;
    font-weight: bold;
}

details li {
    list-style: none;
    height: 31px;
    width: 191px;
    padding: 9px 0 0 10px;
    margin: 0;
}


details li:nth-child(odd){
    background-color: #ccc;
}