header, nav, footer, .main{
    width: 1053px;
    margin: 0 auto;
    font-family: 'Roboto';
}

header {
    height: 147px;
    background-color: #155DED;
    box-sizing: border-box;
}

header h1 {
    margin: 0px 0px 0px 18px;
    padding: 61px 0px 0px 0px;
    font-size: 43px;
    font-weight: 100;
    float: left;
    color: white;
    letter-spacing: -1px;
}

header img {
    margin: 0px 30px 0px 0px;
    padding: 3px 0px 0px 0;
    float: right;
}

nav {
    background-color: #ede115;
    height: 90px;
}


nav ul {
    float: right;
    margin: 32px 32px 0 0;
}

nav li {
    margin: 50px 37px 0 0;
    padding: 0;
    display: inline;
    font-weight: bold;
    font-size: 31px;
    letter-spacing: -1px;
}

nav li:last-child{
    margin-right:0;
}

nav a{
    text-decoration: none;
}

/*main*/

.main{
    height:100%;
}

aside{
    margin:25px 0 0 60px;
    float: left;
    width:240px;
}

summary {
    padding: 15px 0 0 9px;
    height: 29px;
    margin: 0;
    background-color: #0099FF;
    outline: 1px solid black;
    outline-offset: -4px;
    font-weight: bold;
}

details li {
    list-style: none;
    height: 31px;
    width: 191px;
    padding: 9px 0 0 10px;
    margin: 0;
}


details li:nth-child(odd){
    background-color: #ccc;
}

article {
    margin: 0 auto;
    padding: 10px;
    width: 732px;
    float: right;
}

.map{
    width:412px;
    margin:30px auto;

}

.clear{
    width:100%;
    clear: both;
}

.first_section {
    height: 113px;
    background-color: #155DED;
}

.first_section{
    color: #ede115;
}

.first_section h1 {
    margin: 32px 0 0 47px;
    float: left;
    font-size: 38px;
    font-weight: lighter;
}

.first_section p {
    margin: -10px 0 0 0;
}

.first_section address {
    float: right;
    font-size: 36px;
    margin: 16px 59px 0 0;
    font-weight: bold;
    font-style: normal;
}

.second_section {
    height: 108px;
    background-color: #ede115;
}

.font-awesome {
    margin: 0 0 0 49px;
    width: 163px;
    font-size: 53px;
    height: 63px;
    padding: 24px 0 0 0;
    float: left;
}

.font-awesome a{
    color:black;
}

.font-awesome i{
    opacity: 0.5;

}

.font-awesome i:hover{
    opacity:1;
}

.copyright {
    margin: 5px 40px 0 0;
    float: right;
    width: 150px;
    height: 100px;
    background-image: url(../img/funny-527.jpg);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.copyright:hover{
    opacity:1;
}